@import "../../Config.scss";

.column {
  flex: 0 0 auto;
  width: $column-width;
  height: $column-height;
  margin-left: $gap;

  > * {
    background-color: $column-bg-color;
    padding: 0 8px;
  }

  header {
    padding: 0 8px;
    height: $column-header-height;
    line-height: $column-header-height;
    font-size: 16px;
    font-weight: bold;
    border-top-left-radius: $column-border-radius;
    border-top-right-radius: $column-border-radius;
    cursor: pointer;
    display: flex;
    align-items: center;

    .column-tilte {
      flex: 1;


    }

    .column-dropdown-actions {
      .dropdown-btn {
        color: $app-main-text-color;
        background: transparent;
        border: none;
        outline: none;
        font-size: 1.3rem;
        font-weight: bold;
        padding: 5px 6.5px 10px 6.5px;
        line-height: $gap;
        margin-bottom: 3px;
        margin-left: 1px;

        &::after {
          content: "...";
          border: none;
          outline: none;
        }

        &:hover {
          background-color: darken($column-bg-color, 5);
        }
        &:active {
          background-color: darken($column-bg-color, 10);
        }
      }

      .dropdown-menu {
        padding: 0 $gap $gap $gap;
        min-width: 285px;

        .dropdown-title {
          color: #888 !important;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: $gap 0 0 0 !important;

          &:hover {
            background: transparent;
          }

          i {
            &:hover {
              cursor: pointer;
            }
          }
        }

        a.dropdown-item {
          cursor: pointer;
          color: $app-main-text-color;
          font-weight: 400;
          padding: 6px 12px;
          line-height: 20px;
          font-size: 16px;
        }
      }
    }
  }

  footer {
    padding-left: $gap;
    height: $column-footer-height;
    line-height: $column-footer-height;
    font-size: 16px;
    font-weight: bold;
    border-bottom-left-radius: $column-border-radius;
    border-bottom-right-radius: $column-border-radius;
    color: #888;

    .footer-action {
      margin-left: 3px;
      cursor: pointer;

      &:hover {
        color: $app-main-text-color;
      }
    }
  }

  .card-list {
    margin: 0;
    max-height: calc(
      #{$column-height} - #{$column-header-height} - #{$column-footer-height}
    );
    overflow-y: auto;

    &::-webkit-scrollbar {
      -webkit-appearance: none;
    }

    &::-webkit-scrollbar:vertical {
      width: 11px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: darken($column-bg-color, 15); //darken là làm tối màu
      border-right: 5px solid $column-bg-color;
    }

    .card-ghost {
      transition: transform 0.18s ease;
      transform: rotateZ(5deg);
      font-weight: bold;
    }

    .card-ghost-drop {
      transition: transform 0.18s ease-in-out;
      transform: rotateZ(0deg);
      font-weight: bold;
    }

    .card-drop-preview {
      background-color: rgba(82, 82, 111, 0.1);
      // border: 1px dashed #abc;
      border-radius: $card-border-radius;
      margin: 5px;
    }
  }
}
