@import "../../Config.scss";

.board-content {
  height: $board-content-height;
  display: flex;
  // margin: 0 $gap $gap;
  overflow-x: auto;
  overflow-y: hidden;
  &::after {
    content: "";
    flex: 0 0 8px;
  }

  &::-webkit-scrollbar {
    -webkit-appearance: none;
  }

  &::-webkit-scrollbar:horizontal {
    height: 11px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $common-element-bg; //darken là làm tối màu
    border-radius: 8px;
  }

  .column-drop-preview {
    background-color: rgba(82, 82, 111, 0.1);
    // border: 1px dashed #abc;
    border-radius: $card-border-radius;
    margin: 5px 45px 5px 5px;
  }

  .add-new-column {
    width: $column-width;
    max-width: $column-width;
    line-height: 32px;
    padding: 4px 0 4px 15px;
    cursor: pointer;
    margin-left: $gap;
    color: #fff;
    font-size: 15px;
    background-color: hsla(0, 0%, 100%, 0.24);
    border-radius: $column-border-radius;

    &:hover {
      background-color: hsla(0, 0%, 100%, 0.34);
    }
  }

  .enter-new-column {
    width: $column-width;
    max-width: $column-width;
    background-color: $column-bg-color;
    line-height: 32px;
    padding: 4px;
    margin-left: $gap;
    border-radius: $column-border-radius;
    outline: none;

    .input-enter-new-column {
      margin: 0 0 3px 0;

      &:focus{
        border: 1px solid $input-border-color;
      }
    }

    .button {
      display: flex;
      align-items: center;

      .cancel-new-column {
        margin-left: $gap;
        cursor: pointer;

        i {
          font-size: 18px;
          color: $alert-danger;
          &:hover {
            color: darken($alert-danger, 10);
          }
        }
      }
    }
  }
}
