@import "../../Config.scss";

.board-content {
  height: $board-content-height;
  // display: flex;
  // margin: 0 $gap $gap;
  overflow-x: auto;
  overflow-y: hidden;

  &::-webkit-scrollbar {
    -webkit-appearance: none;
  }

  &::-webkit-scrollbar:horizontal {
    height: 11px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $common-element-bg; //darken là làm tối màu
    border-radius: 8px;
  }

  .column-drop-preview {
    background-color: rgba(82, 82, 111, 0.1);
    // border: 1px dashed #abc;
    border-radius: $card-border-radius;
    margin: 5px 45px 5px 5px;
  }
}
