@import "~bootstrap/scss/bootstrap";
@import "./Config.scss";

body {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  line-height: 1.3em;
}

.trello {
  height: 100vh; //vh: chiều cao ăn 100% full màn hình
  overflow: hidden;
  background-color: $board-bg-color;
  color: $app-main-text-color;

  .icon {
    font-size: 14px;
    margin: 0 4px;
  }

  .trello-container {
    margin: 0 15px;
    padding: 0;
  }

  textarea:focus,
  textarea.form-control:focus,
  input.form-control:focus,
  input[type="text"]:focus,
  input[type="password"]:focus,
  input[type="email"]:focus,
  input[type="number"]:focus,
  [type="text"].form-control:focus,
  [type="password"].form-control:focus,
  [type="email"].form-control:focus,
  [type="tel"].form-control:focus,
  [contenteditable].form-control:focus {
    box-shadow: none;
    border: 1px solid $input-border-color;
  }

  .btn:focus,
  .btn:active {
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
  }

  .edit-input {
    background-color: inherit;
    border: none;
    font-size: inherit;
    font-weight: inherit;
    cursor: pointer;
    padding-top: 2px;
    padding-bottom: 2px;
    min-height: 10px !important;

    &:focus {
      background-color: #fff;
      
    }
  }

  span.cancel-icon {
    margin-left: $gap;
    cursor: pointer;

    i {
      font-size: 18px;
      color: $alert-danger;
      &:hover {
        color: darken($alert-danger, 10);
      }
    }
  }
}
